
/*Pages Base*/
  
body {
    background-image: url(Images/Iconbackground.jpg);
    background-repeat: repeat;
    background-size: 25%;
    color: rgb(126, 81, 29);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background:rgb(254, 189, 89, 255);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: auto;
    min-width: 100%;
    text-align: center;
    position: sticky;
}

.navbar {
    overflow: hidden;
}
  
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homediv {
    float: left;

}
  
.dropdown {
    float: right;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: rgb(126, 81, 29);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 0%;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

ul.socials a {
    text-align: center;
    color: gray;
}

ul.socials a:hover {
    color: white;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-decoration: none;
    color: rgb(126, 81, 29);
}

a:hover {
    color: rgb(114, 10, 10);
}


footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: auto;
    width: auto;
    text-align: center;
}

/*Forum Page*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
}

body#forum {
  min-height: 100vh;
}

.containerf {
  width: min(90%, 1140px);
  margin: 3rem auto;
}

.comment__container {
  display: none;
  position: relative;
}

.comment__container.opened {
  display: block;
}

.comment__container::before {
  content: "";
  background-color: rgb(170, 170, 170);
  position: absolute;
  min-height: 100%;
  width: 1px;
  left: -10px;
}

.comment__container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 1rem;
}

.comment__card {
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  min-width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.comment__card h3,
.comment__card p {
  margin-bottom: 1rem;
}

.comment__card-footer {
  display: flex;
  font-size: 0.85rem;
  opacity: 0.6;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.show-replies {
  cursor: pointer;
}

/*Home Page*/


/*MovieStarMurder Page*/

.eventinfo {
  display: flex;
  flex-direction: row;
}

.yoyo {
  color: rgb(230, 228, 228);
  text-shadow: 1px 2px 1px rgb(32, 32, 32);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  min-width: 300px;
  min-height: 290px;
  background-image: url(Images/Hell\ to\ pay\ poster1.jpg);
  background-position: center;
}

.diggy {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: rgb(230, 228, 228);
  text-shadow: 1px 2px 1px rgb(32, 32, 32);
}

.diggyleft {
  background-color: rgb(133, 133, 133);
  padding: 50px;
  margin: 10px;
  border-radius: 25px;
  flex: 50%;
}

.diggyright {
  background-color: rgb(133, 133, 133);
  padding: 50px;
  margin: 10px;
  border-radius: 25px;
  flex: 50%;
}

@media (max-width: 800px) {
  .diggy {
    flex-direction: column;
  }
}
/*About Page*/

html {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  margin-top: 10px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.938);
}

.containera {
  padding: 0 16px;
  min-height: 100px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.name {
  color: black;
}

.description {
  color: black;
}

@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      min-height: 100px;
      display: block;
  }
}

/*Staff Login Page*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
  }
  
  label {
    margin: 10px 0;
    font-weight: bold;
    color: black;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #ba3b00;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #6b1000;
  }